
<app-loader></app-loader>
<!-- <h1>Keycloak Angular Example</h1>

<button *ngIf="isLoggedIn" type="button" (click)="logout()">Log out</button>
<button *ngIf="!isLoggedIn" type="button" (click)="login()">Log in</button>

<ng-container *ngIf="userProfile">
  <h2>User information</h2>
  <table>
    <tr *ngIf="userProfile.username">
      <th scope="row">Username</th>
      <td>{{ userProfile.username }}</td>
    </tr>
    <tr *ngIf="userProfile.firstName">
      <th scope="row">First name</th>
      <td>{{ userProfile.firstName }}</td>
    </tr>
    <tr *ngIf="userProfile.lastName">
      <th scope="row">First name</th>
      <td>{{ userProfile.lastName }}</td>
    </tr>
    <tr *ngIf="userProfile.email">
      <th scope="row">E-mail</th>
      <td>{{ userProfile.email }}</td>
    </tr>
    <tr>
      <th scope="row">E-mail verified</th>
      <td>{{ userProfile.emailVerified ? 'Yes' : 'No' }}</td>
    </tr>
  </table>
</ng-container>
 -->

<div class="flex justify-end items-center">

    <ul class="sm:flex space-x-4 hidden items-center" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <div class="">
        <li><a [routerLink]="['/home']" routerLinkActive="active-link" class="text-gray-700 hover:text-indigo-600 text-md ">Home</a></li>

      </div>
      <li><a [routerLink]="['/about']" routerLinkActive="active-link" class="text-gray-700 hover:text-indigo-600 text-md ">About</a></li>
      <li><a [routerLink]="['/user']" routerLinkActive="active-link" class="text-gray-700 hover:text-indigo-600 text-md ">User</a></li>
    </ul>

    <div class="md:flex items-center hidden space-x-4 ml-8 lg:ml-12">
      <h1 *ngIf="!isLoggedIn"class="text-text-gray-600  py-2 hover:cursor-pointer hover:text-indigo-600" (click)="login()">LOGIN</h1>
      <div *ngIf="isLoggedIn">
        <h1 class="text-text-gray-600  py-2 hover:cursor-pointer hover:text-indigo-600" (click)="logout()">LOGOUT</h1>
        <span>{{name}}</span>

      </div>
      <h1 class="text-text-gray-600  py-2 hover:cursor-pointer px-4 rounded text-white bg-gradient-to-tr from-indigo-600 to-green-600 hover:shadow-lg">SIGNUP</h1>
    </div>
  </div>
<router-outlet></router-outlet>
